{% extends 'base.html.twig' %}

{% block body %}
    <h2>Choisissez votre type d'abonnement</h2>
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
        <select name="amount">
            <option value="10">Compte premium 1 - 10 €</option>
            <option value="25">Compte premium 2 - 25 €</option>
        </select>
        <input name="currency_code" type="hidden" value="EUR" />
        <input name="shipping" type="hidden" value="0.00" />
        <input name="tax" type="hidden" value="0.00" />
        <input name="return" type="hidden" value="http://127.0.0.1/PaypalPrototype/web/public/success.php" />
        <input name="cancel_return" type="hidden" value="http://127.0.0.1/PaypalPrototype/web/public/cancel.php" />
        <input name="notify_url" type="hidden" value="http://127.0.0.1/PaypalPrototype/web/public/ipn.php" />
        <input name="cmd" type="hidden" value="_xclick" />
        <input name="business" type="hidden" value="vendeur@threeshells.ovh" />
        <input name="item_name" type="hidden" value="Compte premium" />
        <input name="no_note" type="hidden" value="1" />
        <input name="lc" type="hidden" value="FR" />
        <input name="bn" type="hidden" value="PP-BuyNowBF" />
        <input name="custom" type="hidden" value="user_id=1" />
        <input type="submit" value="S'abonner" class="btn btn-primary">
    </form>
{% endblock %}

